head
  title TeamWatch
  body
    h1 TeamWatch
    h4 Login

    form(action="/users/login" method="POST")
      input(type="text" name="tw_id" placeholder="token")
      button(type="submit") Sign In
    p
      a(href="/users/registration") Sign Up
