html
  head
    title TeamWatch

    style.
      .main-container {
        width: 100%;
        height: 500px;
      }
      .sending-container {
        float: left;
        width: 49%;
        height: 100%;
        border: 1px solid black;
      }

      .reading-container {
        float: right;
        width: 49%;
        height: 100%;
        border: 1px solid red;
        overflow: auto;
      }

  body

    form(style="float: right" action="/users/logout" method="POST")
      button(type="submit") Logout

    h1 TeamWatch
    h4 Messenger

    .main-container
      .sending-container

        form#form_send(method="post" action="#")
          .form-field
            label Logged as:
            br
            strong= `${currentUser.username} (${currentUser.role})`

          .form-field
            select#feed
              option(value=currentUser.tw_id) -personal-
              each chl in channels
                option(value=chl, selected=(channel === chl) )= chl
          .form-field
            input#message(type="text", placeholder="* Message")

          .form-field
            button(type="submit") Send


      #logdiv.reading-container



    script.
      window.AUTH = '!{auth}';
      window.CHL = '!{channel}';
    script(src="/app.js")
