head
  title TeamWatch
  body
    h1 TeamWatch
    h4 Registration

    form(action="/users/registration" method="POST")
      input(type="email" name="email" placeholder="email")
      input(type="password" name="password" placeholder="password")
      button(type="submit") Sign Up
    p
      a(href="/users/login") Sign In
